<div id="location-autocomplete" data-initial-location="<%= location.to_json %>">
  <gmpx-api-loader key="<%= Rails.application.credentials.google_maps_api_key! %>"></gmpx-api-loader>
  <gmpx-place-picker placeholder="Enter a place" id="place-picker" type="address">
  </gmpx-place-picker>
</div>
