<h3>
  <%= @location[:city] %>, <%= @location[:state] %> Forecast
  <!-- Alternative implementation:
   <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">Cache Miss</span>
  </span>
  -->
  <% if @cache_hit %>
    <span class="badge rounded-pill text-bg-info">Cache Hit</span>
  <% else %>
    <span class="badge rounded-pill text-bg-warning">Cache Miss</span>
  <% end %>
</h3>

<small class="text-body-secondary">Last updated _______</small>
<div class="row">
  <div class="forecast-cards d-flex flex-wrap">
    <%= render partial: 'forecasts/prediction', collection: @forecast[:periods], as: :prediction %>
  </div>
</div>
